.pricingTable {
    text-align: center;
    background: #fff;
    margin: 0 -15px;
    box-shadow: 0 0 10px #ababab;
    padding-bottom: 40px;
    padding-top: 0.5em;
    color: #cad0de;
    transform: scale(1);
    transition: all .5s ease 0s;
    word-wrap: break-word !important;
    height: 700px;
    position: relative;
}
.pricingTable:hover {
    transform: scale(1.05);
    z-index: 1
}

.pricingTable .pricingTable-header {
    padding-top: 60px;
    padding-bottom: 10px;
    transition: all .5s ease 0s
}



.pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s
}

.pricingTable .price-value {
    font-size: 75px;
    color: #1a89d0;
    transition: all .5s ease 0s
}

.pricingTable .month {
    display: block;
    font-size: 14px;
    color: #cad0de;
    margin-bottom: 10px;
}

.pricingTable .heading {
    font-size: 1em;
    color: #1a89d0;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #333
}

.pricingTable .pricingTable-signup a {
    display: inline-block;
    font-size: 15px;
    color: #1a89d0;
    padding: 10px 35px;
    //border-radius: 20px;
    background: white;
    border: 2px solid #1a89d0;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    font-weight: 600;
    bottom: 4em;
    left: 4em;
    right: 4em;
    margin: auto;
    position: absolute;
}

.pricingTable .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #1a89d0
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
    color: #1a89d0
}

.pricingTable.blue .pricingTable-signup a
{
    background: white
}


.pricingTable.blue .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #1a89d0
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
    color: #1a89d0
}

.pricingTable.red .pricingTable-signup a {
    background: #fff
}

.pricingTable.red .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #fff
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
    color: #fff
}

.col-md-3 col-sm-6 {
    position: relative;
}

.most-popular {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  //background-color: #ffffff;
  padding: 5px 10px;
  color: yellow;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 2em;
}

.pricingTable.green .pricingTable-header {
    z-index: 0 !important;
}

.pricingTable.green .pricingTable-signup a {
    background: white;
    color: #1a89d0;
    font-weight: 600;
}

.pricingTable.green .pricing-content ul li, .pricingTable.green .pricingTable-header i {
    color: white;
}

.pricingTable.green, .pricingTable.green .pricingTable-header {
    background: #1a89d0;
}

.pricingTable.green .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #fff
}

.pricingTable.blue .price-value {
    font-size: 3em;
    line-height: 1;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}
.pricingTable.blue .month {
    margin-top: 2.1em;
}

@media (max-width: 320px) {
    .pricingTable{
        height: 760px;
    }
}