.accordion-item{
    margin: 20px;
    box-shadow: 4px 5px 6px 4px rgba(212,212,212,0.89);
    -webkit-box-shadow: 4px 5px 6px 4px rgba(212,212,212,0.89);
    -moz-box-shadow: 4px 5px 6px 4px rgba(212,212,212,0.89);
}
.accordion-item:hover{
    margin: 20px;
    box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
    -webkit-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
    -moz-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
}
.accordion accordion-flush{
    margin-bottom: 80px;
    margin: 50px;
}
.accordion-button{
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    font-size: large;
    font-weight: bold;
}