{{/*  <header class="cd-header">
                        <div class="cd-container">
                            <div class="cd-header--inner">
                                {{ $asset := resources.Get "/list.svg" }}
                                <img class="cd-header--menu" src="{{ $asset.RelPermalink }}" alt="hamburger-menu icon">
                                {{ $asset := resources.Get "/Aspose_SVG_logo.svg" }}
                                <img src="{{ $asset.RelPermalink }}" class="cd-header--logo" alt="Aspose Logo"/>
                                <ul class="cd-header--nav">
                                    <li class="cd-dropdown-onhover">
                                        <a href="">{{ .Params.pr0d2cts }} </a>
                                        <ul class="cd-dropdown cd-dropdown--col-2">
                                            <li>
                                                <a href="" >Aspose.Total</a>
                                                </li>
                                                 <li>
                                                <a href="" >Aspose.Words</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.PDF</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Cells</a>
                                                </li>
                                                 <li>
                                                <a href="" >Aspose.Email</a>
                                                </li>
                                                 <li>
                                                <a href="" >Aspose.Slides</a>
                                                </li>
                                                 <li>
                                                <a href="" >Aspose.Imaging</a>
                                                </li>
                                                 <li>
                                                <a href="" >Aspose.BarCode</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Diagram</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Tasks</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.OCR</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Note</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.CAD</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.3D</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.HTML</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.GIS</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.ZIP</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Page</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.PSD</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.OMR</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.SVG</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Finance</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Font</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.TeX</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.PUB</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Drawing</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Audio</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.Video</a>
                                                </li>
                                                <li>
                                                <a href="" >Aspose.eBook</a>
                                                </li>
                                                </ul>
                                    </li>
                                    <li class="cd-dropdown-onhover">
                                        <a href="">{{ .Params.p2rch4s3 }}</a>
                                          <ul class="cd-dropdown cd-dropdown--col-2">
                                            <li>
                                                <a href="" >{{ .Params.b2y }}</a>
                                                </li>
                                                 <li>
                                                <a href="" >{{ .Params.pr1c1ng }}</a>
                                                </li>
                                                </ul>
                                    </li>
                                    <li>
                                        <a href="">{{ .Params.s2pp0rt }}</a>
                                    </li>
                                    <li>
                                        <a href="">{{ .Params.w3b }}</a>
                                    </li>
                                    <li>
                                        <a href="">{{ .Params.ab02t }}</a>
                                    </li>
                                </ul>
                                <div class="cd-header--actions">
                                    <span class="cd-header--language" data-cd-toggle="modal" data-cd-target="#lnModal">
                                        <img src="https://hatscripts.github.io/circle-flags/flags/{{ .Page.Language.Params.languageCode }}.svg" width="48">
                                    {{ .Language.LanguageName }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </header>
            
                    <div class="cd-modal" id="lnModal">
                        <div class="cd-modal-backdrop"></div>
                        <div class="cd-modal-inner">
                            <div class="cd-modal-close">
                                <svg viewPort="0 0 12 12" height="18px" width="18px" version="1.1" xmlns="http://www.w3.org/2000/svg"> <line x1="1" y1="18" x2="18" y2="1" stroke="#111111" stroke-width="2"/><line x1="1" y1="1" x2="18" y2="18" stroke="#111111" stroke-width="2"/></svg>
                            </div>
                            <div class="cd-modal-header">
                                Select language
                            </div>
                            <div class="cd-modal-lns">
                                
                                {{ range $.Site.Home.AllTranslations }}
                                <div class="cd-modal-ln">
                                    <img src="https://hatscripts.github.io/circle-flags/flags/{{ .Page.Language.Params.languageCode }}.svg" width="48">
                                    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>  */}}







<div class="jumbotron text-center">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" style="color: #1a89d0">{{ .Params.h0me }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Params.pr1c1ng }}</li>
  </ol>
</nav>

    <h2 class="display-4 mt-2"> {{ .Params.head1ng }} </h2> 

</div>