<h2 class="display-4 text-center mb-4 mt-5">Pricing - Metered</h2>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6">
      <p>
        <em style="color: #1a89d0"
          >{{ readFile "static/images/gear-fill.svg" | safeHTML }}</em
        >
        <em class="fa fa-cogs ico-blue fa-2x col-lg-2">&nbsp;</em> Only pay for
        the files you process
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        <em style="color: #1a89d0"
          >{{ readFile "static/images/credit-card.svg" | safeHTML }}</em
        >
        <em class="fa fa-credit-card ico-blue fa-2x col-lg-2">&nbsp;</em> For
        each loading or creation of a document you are charged with one credit
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <em style="color: #1a89d0"
          >{{ readFile "static/images/bar-chart-fill.svg" | safeHTML }}</em
        >
        <em class="fa fa-signal ico-blue fa-2x col-lg-2">&nbsp;</em> More
        discounted rates on large volumes
      </p>
    </div>
  </div>

  <div class="row description" style="display: initial">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p style="margin-top: 20px">
        Process as many files as you require. After one month, we will calculate
        the total credits and bill you according to the below plan. One credit
        is counted each time you perform an open or a save operation on a
        document.
      </p>
    </div>
  </div>

  {{ $options := dict "method" "GET" }} {{ with resources.GetRemote
  $.Site.Params.url }} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with
  .Content }} {{ with transform.Unmarshal . }}

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 22%">Total Credits</th>
          <th style="width: 22%">Rate / Credit</th>
        </tr>
      </thead>
      {{ range after 1 . }}{{ range first 1 .PricingPlans }} {{ range first 1
      .ProductItemsList }} {{ range .MeteredPriceList }}
      <tbody>
        <tr>
          <td>
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>{{
            .StartQuantity }} to {{ if eq .EndQuantity nil}}unlimited{{ else }} {{ .EndQuantity }} {{ end }} credits
          </td>
          <td>${{ .UnitPrice }} / credit</td>
        </tr>
      </tbody>
      {{ end }} {{ end }} {{ end }} {{ end }}
    </table>
  </div>
  {{ end }}{{ end }} {{ end }} {{ end }}
  <a href="https://dashboard.groupdocs.app/billing/subscription">
    <div class="d-flex align-items-center h-100 mt-3">
      <button
        class="btn btn-outline-primary btn-lg mx-auto"
        style="border-radius: 0%"
      >
        Sign up for metered pricing
      </button>
    </div>
  </a>
</div>
